.weather-app {
  background-color: white;
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 750px;
  padding: 3%;
}

hr {
  background-color: #f9f7fe;
  border: 0;
  height: 0.2px;
}

a{
  color:black;
}