<div class="app">
  <div class="container weather-app">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Valtech_logo.png?20141028061419"
      alt="She Codes Logo"
      width="150px"
      class="shecodes-logo"
    />
    <!-- Input Form -->
    <app-form (newCity)="updateCityName($event)"></app-form>
    <hr />
    <!-- Section with Current Weather Information -->
   <app-current-weather [updatedCity]="city"></app-current-weather>
    <!-- Link to Open Source Code -->
    
    <hr />
<app-offices></app-offices>
<hr />
    <small>
      <a href="https://github.com/olgakassian/weather-app" target="_blank">
        Open-source code</a
      >, by Olga Kassian
    </small>
  </div>

</div>
