.weather-info {
  margin: 30px 0 10px;
  // background: url("https://viagemeturismo.abril.com.br/wp-content/uploads/2017/01/belem-tower-2809818_1920.jpg");
  // background-position: center
  // background
  // ;
}
h1 {
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}

li {
  color: #a9a6b3;
  list-style: none;
  padding: none;
}

ul {
  padding-left: 0px;
}

.description {
  text-transform: capitalize;
}

.current-weather-icon {
  margin-top: 0px;
  padding-top: 0px;
  display: inline;
  width: 80px;
  height: 80px;
  display: inline-block;
  vertical-align: top;
}

.temperature {
  color: #212121;
  font-weight: 400;
  margin-left: 0px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
}

.unit {
  color: #212121;
  font-size: 25px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
